* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  background-color: hsl(234, 29%, 20%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 70%;
  width: 60%;
  border-radius: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.left-content {
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
